.fullscreen__menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
  background: #313131;
  color: #fff;
  font-size: rem(36px);
  font-weight: 400;

  & .fullscreen__menu--close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &.active {
    @include tablets {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .menu--vertical {
    @include tablets {
      display: block;
    }

    & .menu__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
