.benefits__container {
  position: relative;
  &::before {
    content: url("../img/decor/grey-leaf-1.png");
    position: absolute;
    left: -9%;
    bottom: 11%;
  }
  &::after {
    content: url("../img/decor/granola.png");
    position: absolute;
    left: -8%;
    bottom: -45%;
  }
}
// .benefits__section {
//   position: relative;
//   background: url("../../img/decor/grey-leaf-1.png") left top 55% no-repeat;

//   &::before {
//     position: absolute;
//     left: 0;
//     bottom: -110px;
//     content: url("../../img/decor/granola.png");
//   }
// }
