.btn {
  display: block;
  font-size: rem(16px);
  font-weight: 800;
  line-height: 1.1;
  padding: rem(23px) rem(41px);
  text-transform: uppercase;
  border-radius: rem(100px);
  width: rem(156px);
  height: rem(57px);

  @include tablets {
    margin: 0 auto;
  }

  &--theme--white {
    color: $darkGreen;
    background: #fff;

    &:hover {
      color: #fff;
      background: $darkGreen;
    }
  }
  &--theme-green {
    color: #fff;
    background-color: $darkGreen;

    &:hover {
      color: $darkGreen;
      background: #fff;
    }
  }
  &--theme--transparent {
    color: #000000;
    background: transparent;
    text-transform: none;

    &:hover {
      color: #497870;
    }
  }
}
