.contacts {
  font-size: rem(21px);
  color: #292929;
  font-style: normal;
  font-weight: 400;

  @include phones {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.phone-number__text--green {
  color: #497870;
}
.phone-number__icon {
  .phone-number__icon-svg--green {
    fill: #497870;
  }
}
