.feature {
  display: flex;
  width: 170px;
}

.feature__icon {
  flex: 1;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.feature__icon img {
  width: 100%;
  height: 100%;
  border: #fff;
}

.feature__text {
  flex: 1;
  font-size: 16px;
  max-width: 85px;
}