.menu {
  margin: 0 rem(30px);
  padding-top: rem(5px);

  @include tablets {
    display: none;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menu__item {
  margin-right: rem(25px);
  margin-bottom: rem(10px);
  &:last-child {
    margin-right: 0;
  }

  & .menu__link {
    white-space: nowrap;
  }
}
