.team__list {
  &--mobile {
    display: none;

    @include tablets {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      & .team__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        & .team__title {
          font-size: rem(21px);
          font-weight: 700;
          margin-bottom: rem(18px);
        }

        & .team__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 0;
          overflow: hidden;
          transition: height 0.3s;

          & .team__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
          }
        }
      }
    }

    @include phones {
      display: flex;
    }
  }
}
