@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-Black.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-BlackItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-BoldItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-ExtraBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-ExtraBoldItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-LightItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-MediumItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-Thin.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../../fonts/AlegreyaSans-ThinItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
