.order__section {
  background: url("../img/bg/bw-berries.png") center / cover no-repeat;
  position: relative;

  &::before {
    content: url("../img/decor/berries-5.png");
    position: absolute;
    left: 2%;
    bottom: 12%;
  }
  &::after {
    content: url("../img/decor/leaf-4.png");
    position: absolute;
    right: 1%;
    bottom: 10%;
  }

  @include phones {
    &::before,
    &::after {
      display: none;
    }
  }
}

.form {
  display: flex;
  flex: 1;
  padding: 0 2%;

  @include tablets {
    padding: 0 19%;
    flex-direction: column;
  }
  @include phones {
    padding: 0 2%;
  }
}
.form__col {
  margin-right: rem(26px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;

  @include phones {
    justify-content: center;
    margin-bottom: rem(10px);
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(17px);

  &--textarea {
    margin-bottom: rem(40px);
  }

  @include tablets {
    margin-bottom: rem(5px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(17px);

  &:last-child {
    margin-right: 0;
  }
}
.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(12px);
  border: rem(3px) solid transparent;
  border-radius: rem(4px);

  @include tablets {
    padding: rem(6px) rem(12px);
  }

  &:focus {
    border-color: #dee2bd;
    outline: none;
  }

  &--textarea {
    width: rem(450px);
    height: rem(150px);
    resize: none;

    @include tablets {
      width: 100%;
      height: rem(80px);
      margin-bottom: rem(25px);
    }

    @include phones {
      width: 100%;
      height: rem(80px);
      margin-bottom: rem(25px);
    }
  }
}

.form__btns {
  display: flex;

  @include tablets {
    justify-content: center;
  }
}
// js error style
.input__error {
  border-color: hotpink;
}
