.ingredients {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @include tablets {
    display: none;
  }
  @include phones {
    display: none;
  }
}
.ingredients__block {
  width: rem(91px);
  width: rem(91px);
  cursor: pointer;
  position: relative;

  &:hover .ingredients__dropdown {
    opacity: 1;
  }
}

.ingredients__dropdown {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  left: 100%;
  top: 0;
}

.ingredients__list {
  min-height: rem(280px);
  width: rem(275px);
  font-size: rem(16px);
  font-weight: 500;
  color: #000;
  background: rgba(213, 213, 213, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(40px);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5% 5%;

  & .ingredients__item {
    display: inline-flex;
    justify-content: flex-start;

    & .ingredients__item--svg {
      width: rem(20px);
      height: rem(20px);
      margin-right: rem(15px);
      fill: #000000;
    }

    & .ingredients__item--value {
      margin-left: auto;
    }
  }
}
