// .fullscreen__menu {
//   display: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 1000;
//   overflow: hidden;
//   background: #313131;
//   color: #fff;
//   font-size: rem(36px);
//   font-weight: 400;

//   & .fullscreen__menu--close {
//     width: 20px;
//     height: 20px;
//     position: absolute;
//     top: 1%;
//     right: 2%;
//   }

//   &.active {
//     @include tablets {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }

//   .menu--vertical {
//     @include tablets {
//       display: block;
//     }

//     & .menu__list {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//     }
//   }
// }

.fullscreen__menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 1000;
  overflow: hidden;
  background: #313131;
  color: #fff;
  font-size: rem(36px);
  font-weight: 400;
  transition: 0.5s;

  & .fullscreen__menu--close {
    width: 30px;
    text-align: center;
    // height: 20px;
    position: absolute;
    top: 0;
    right: 2%;
  }

  // &.active {
  //   @include tablets {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }
  // }

  .menu--vertical {
    @include tablets {
      position: relative;
      top: 5%;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .menu__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
